.sidebar {
    width: 180px;
    height: 100vh;
    background-color: black;
    padding: 1rem;
    position: fixed;
    top: 70px; 
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s ease;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}

.nav-link.active {
    background-color: #b45924; 
    color: white; 
    font-weight: bold; 
}
@media (max-width: 1024px) {
    .sidebar {
        width: 150px; 
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 120px; 
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100px; 
    }
}