body{
    background-image: url('./assets/imageiii.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;


}

.main-layout {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    margin-top: 40px; 
}



.content {
    margin-left: 200px;
    padding: 1rem;
}